<%= form_with(scope: :session, url: login_path, local: true) do |form| %>

  <div class="actions">
    <div class="form-group row mt-3">
    <%= form.label :email, class: "col-2 col-form-label text-light" %>
    <div class="col-10"> 
    <%= form.email_field :email, class: "form-control shadow rounded", placeholder: "Enter your email address" %>
    </div>
    <%= form.submit "signin" %>
  </div>
<% end %>
