<div class= "my-4 form-signin">
<h1 class="h3 mb-3 font-weight-normal">User Registration</h1>

<%= render 'form', user: @user %>
<h4 class="h4 mb-3 font-weight-normal">Existing User ? <a class="btn btn-outline-primary my-2 my-sm-0" href= <%= login_path %> >  Sign in </a> </h4>
</div>
