<div class= "my-4 form-signin">
<h1 class="h3 mb-3 font-weight-normal">Create Event</h1>
<%= render 'form', event: @event %>
<h4 class="h4 mb-3 font-weight-normal">Back to Home <a class="btn btn-outline-primary my-2 my-sm-0" href= <%= root_path %> > Home </a> </h4>
</div>
